@import '/src/styles/variaveis';

.menu{
    padding: 0 250px;
}
.header{
    align-items: center;
    height: 300px;
    background-image: url('/assets/menu/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: $horizon-padding;
    &__text{
        color: white;
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
    }
}